@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  :root {
    --Offwhite: hsl(36, 100%, 99%);
    --Grayishblue: hsl(233, 8%, 79%);
    --DarkGrayishBlue: hsl(236, 13%, 42%);
    --VeryDarkBlue: hsl(240, 100%, 5%);
  }
  body {
    padding: 80px 150px;
    font-family: 'Inter', sans-serif;
  }
  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.125rem;
  }
  .navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    list-style-type: none; 
  }
  .navbar-link {
    text-decoration: none;
    color: var(--DarkGrayishBlue);
  }

  .main-left-section {
    max-width: 46.875rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 1.5625rem;
  } 
  .FirstContainer {
      grid-area: 1 / 1 / 2 / 3; 
  }
  .FirstContainer img {
    width: 46.875rem;
    height: auto;
  }
  .SecondContainer {
      grid-area: 2 / 1 / 3 / 2; 
  }
  .SecondContainer h1 {
    font-size: 3.4375rem;
    font-weight: 800;
    color: var(--VeryDarkBlue);
  }
  .ThirdContainer {
      grid-area: 2 / 2 / 3 / 3; 
  }
  .ThirdContainer p {
    color: var(--DarkGrayishBlue);
    font-size: 16px;
    line-height: 1.5625rem;
    margin-bottom: 2.5rem;
  }
  .ThirdContainer button {
    text-transform: uppercase;
    letter-spacing: .3125rem;
    font-weight: 700;
    color: var(--Offwhite);
    background-color: hsl(5, 85%, 63%);
    padding: .9375rem 1.875rem;
    border: none;
  }
    