@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}
 body {
     line-height: 1;
     padding: 5rem 9.375rem;
     font-family: 'Inter', sans-serif;
}
 ol, ul {
     list-style: none;
}
 blockquote, q {
     quotes: none;
}
 blockquote:before, blockquote:after, q:before, q:after {
     content: '';
     content: none;
}
 table {
     border-collapse: collapse;
     border-spacing: 0;
}
.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

 :root {
     --Offwhite: hsl(36, 100%, 99%);
     --Grayishblue: hsl(233, 8%, 79%);
     --DarkGrayishBlue: hsl(236, 13%, 42%);
     --VeryDarkBlue: hsl(240, 100%, 5%);
     --SoftOrange: hsl(35, 77%, 62%);
     --SoftRed: hsl(5, 85%, 63%);
}
 #overlay {
     position: fixed;
     display: none;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0,0,0,0.5);
     z-index: 2;
     cursor: pointer;
}
 #menu-toggle, #menu-close {
     display: none;
     background-color: transparent;
     border: none;
     cursor: pointer;
}
 .navbar, #navbar-list, .main-image-header, .main-image-description, .sidebar, .sidebar-container, .__bottom_boxes, .__box, .box_container {
     display: flex;
}
 #box_first_image, #box_second_image, #box_third_image, .main-image {
     background-size: cover;
     background-position: center;
}
 .navbar {
     align-items: center;
     justify-content: space-between;
     margin-bottom: 3.125rem;
}
 #navbar-list {
     justify-content: space-between;
     gap: 2.5rem;
}
 .navbar-link {
     text-decoration: none;
     color: var(--DarkGrayishBlue);
}
 .main-wrapper {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(auto-fit,); 
    gap: 0px 1.875rem; 
    grid-template-areas: 
    "main-image main-image aside"
    "main-image-header main-image-description aside"
    "__bottom_boxes __bottom_boxes __bottom_boxes"; 
}
.main-image { 
    grid-area: main-image;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-image-header { 
    grid-area: main-image-header; 
}

.main-image-description { 
    grid-area: main-image-description; 
}

.aside { 
    grid-area: aside; 
}

.main-image {
     background-image: url(https://github.com/AMADEUSZRB/frontend-mentor-NewsHomepage/blob/main/assets/images/image-web-3-desktop.jpg?raw=true);
     height: 18.75rem;
}
 .main-image-header {
     display: flex;
}
 .main-image-header h1 {
     font-size: 3.75rem;
     font-weight: 800;
     color: var(--VeryDarkBlue);
}
 .main-image-description {
     flex-direction: column;
     align-items: flex-start;
}
 .main-image-description p {
     color: var(--DarkGrayishBlue);
     font-size: 1rem;
     line-height: 1.5625rem;
     margin-bottom: 2.0625rem;
}
 .main-image-description button {
     text-transform: uppercase;
     letter-spacing: .3125rem;
     font-weight: 700;
     color: var(--Offwhite);
     background-color: var(--SoftRed);
     padding: .9375rem 1.875rem;
     border: none;
}
 .sidebar {
     flex-direction: column;
     background-color: var(--VeryDarkBlue);
     padding: 2.1875rem 1.5625rem;
     overflow: hidden;
}
 .sidebar h2 {
     color: hsl(35, 77%, 62%);
     font-size: 2.5rem;
     font-weight: 700;
}
 .sidebar-container {
     flex-direction: column;
     padding: 1.875rem 0;
     border-bottom: solid 1px var(--DarkGrayishBlue);
}
 .sidebar-container:last-child {
     border-bottom: none;
}
 .sidebar-container-header {
     color: var(--Offwhite);
     font-weight: 700;
     font-size: 1.25rem;
     margin-bottom: .9375rem;
}
 .sidebar-container-description {
     color: var(--Grayishblue);
     line-height: 1.5625rem;
}
.__bottom_boxes {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 1.875rem; 
    grid-template-areas: 
      "__boxOne __BoxTwo __BoxThree"; 
    grid-area: __bottom_boxes; 
  }
  .__boxOne { grid-area: __boxOne; }
  .__BoxTwo { grid-area: __BoxTwo; }
  .__BoxThree { grid-area: __BoxThree; }

.__box {
     max-height: 7.8125rem;
     margin-top: 3.4375rem;
}
.box_image {
     min-width: 6.25rem;
     min-height: 7.9375rem;
     margin-right: 1.25rem;
}
 .box_container {
     flex-direction: column;
}
 .box_number {
     font-size: 1.625rem;
     font-weight: 700;
     color: var(--Grayishblue);
}
 .box_header {
     font-size: 1.125rem;
     font-weight: 800;
     color: var(--VeryDarkBlue);
     margin: 1rem 0;
}
 .box_description {
     color: var(--DarkGrayishBlue);
     font-size: .9375rem;
     line-height: 1.5625rem;
}
 #box_first_image {
     background-image: url(https://github.com/AMADEUSZRB/frontend-mentor-NewsHomepage/blob/main/assets/images/image-retro-pcs.jpg?raw=true);
}
 #box_second_image {
     background-image: url(https://github.com/AMADEUSZRB/frontend-mentor-NewsHomepage/blob/main/assets/images/image-top-laptops.jpg?raw=true);
}
 #box_third_image {
     background-image: url(https://github.com/AMADEUSZRB/frontend-mentor-NewsHomepage/blob/main/assets/images/image-gaming-growth.jpg?raw=true);
}
/* Actives */
 .navbar-link:hover, .box_header:hover, .main-sidebar-container-header:hover, .main-bottom-second-container > button:hover {
     cursor: pointer;
}
 .navbar-link:hover, .box_header:hover {
     color: var(--SoftRed);
}
 .main-sidebar-container-header:hover {
     color: var(--SoftOrange);
}
 .main-bottom-second-container > button:hover {
     color: white;
     background-color: black;
}
/* Mobile */
 @media (max-width:900px) {
     body {
         min-height: 100%;
         margin: 0;
         padding: 2.5rem 1.25rem;
    }
     #menu-toggle, #menu-close {
         display: block;
    }
     #menu-close {
         align-self: flex-end;
         height: max-content;
         width: max-content;
         margin-bottom: 5rem;
    }
     .navbar {
         margin-bottom: 1.875rem;
    }
     #navbar-list {
         padding: 1.5625rem 1.25rem;
         flex-direction: column;
         justify-content: flex-start;
         flex-wrap: nowrap;
         position: fixed;
         background-color: white;
         height: 100vh;
         width: 14.322916666666666vw;
         gap: 1.875rem;
         top: 0;
         transform: translate3d(-100vw,0,0);
         transition: all 0.5s;
         z-index: 1000;
    }
     .navbar-link {
         font-size: 1.125rem;
         color: black;
    }
     .main-wrapper {
         display: flex;
         flex-direction: column;
         height: auto;
    }
     .main-image {
         background-image: url(https://github.com/AMADEUSZRB/frontend-mentor-NewsHomepage/blob/main/assets/images/image-web-3-mobile.jpg?raw=true);
    }
     #logo {
         transform: scale(0.80);
    }
     .main-bottom {
         flex-direction: column;
    }
     .main-bottom-first-container, .main-bottom-second-container {
         width: 100%;
    }
     .main-bottom-first-container h1 {
         font-size: 2.5rem;
         margin: 1.25rem 0;
    }
     .main-bottom-second-container {
         margin-bottom: 3.75rem;
    }
     .main-bottom-second-container p {
         font-size: .9375rem;
         margin-bottom: 1.25rem;
    }
     .main-sidebar {
         overflow: unset;
         margin-bottom: 3.75rem;
    }
     .main-sidebar-container:last-child {
         padding-bottom: 0;
    }
     .left_box_container {
         display: flex;
         flex-direction: column;
    }
     .__box {
         margin-top: 0rem;
         margin-bottom: 1.75rem;
         min-width: 100%;
    }
     .box_header {
         font-size: 1rem;
         margin: .625rem 0;
    }
    .activeOn {
        transform: translate3d(0vw, 0, 0);
    }
    .activeOff {

    }
}
