@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}
 body {
     line-height: 1;
     padding: 5rem 9.375rem;
     font-family: 'Inter', sans-serif;
}
 ol, ul {
     list-style: none;
}
 blockquote, q {
     quotes: none;
}
 blockquote:before, blockquote:after, q:before, q:after {
     content: '';
     content: none;
}
 table {
     border-collapse: collapse;
     border-spacing: 0;
}
 :root {
     --Offwhite: hsl(36, 100%, 99%);
     --Grayishblue: hsl(233, 8%, 79%);
     --DarkGrayishBlue: hsl(236, 13%, 42%);
     --VeryDarkBlue: hsl(240, 100%, 5%);
     --SoftOrange: hsl(35, 77%, 62%);
     --SoftRed: hsl(5, 85%, 63%);
     --gap: 1.875rem;
}
#menu-toggle, #menu-close, #overlay {
     display: none;
}
.navbar, .list, .main-image-description, .sidebar, .sidebar-container, .__bottom_boxes, .__box, .box_container {
     display: flex;
}
 #box_first_image, #box_second_image, #box_third_image, .main-image {
     background-size: cover;
     background-position: center;
}
 #overlay {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0,0,0,0.5);
     z-index: 2;
     cursor: pointer;
}
 .navbar {
     align-items: center;
     justify-content: space-between;
     margin-bottom: 3.125rem;
}
 .list {
     justify-content: space-between;
     gap: 40px;
}
 .navbar-link {
     text-decoration: none;
     color: var(--DarkGrayishBlue);
}
 .main-wrapper {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: var(--gap); 
    grid-template-areas: 
    "main-image main-image sidebar"
    "main-image-header main-image-description sidebar"
    "__bottom_boxes __bottom_boxes __bottom_boxes"; 
}
.main-image {
     grid-area: main-image;
     background-image: url(https://github.com/AMADEUSZRB/frontend-mentor-NewsHomepage/blob/main/assets/images/image-web-3-desktop.jpg?raw=true);
     min-height: 300px;
}

.main-image-header {
     grid-area: main-image-header;
     font-size: clamp(2.5625rem, 2.2544rem + 1.3146vw, 3.4375rem);
     font-weight: 800;
     color: var(--VeryDarkBlue);
 }

.main-image-description {
     grid-area: main-image-description;
     flex-direction: column;
     align-items: flex-start;
 }
 .main-image-description p {
     color: var(--DarkGrayishBlue);
     font-size: clamp(0.9375rem, 0.9223rem + 0.0647vw, 1rem);
     line-height: 1.5625rem;
     margin-bottom: var(--gap);
}
.main-image-description button {
     text-transform: uppercase;
     letter-spacing: .3125rem;
     font-weight: 700;
     color: var(--Offwhite);
     background-color: var(--SoftRed);
     padding: .9375rem 1.875rem;
     border: none;
}
.sidebar { 
     grid-area: sidebar;
     flex-direction: column;
     background-color: var(--VeryDarkBlue);
     padding: 2.1875rem 30px; 
}
 .sidebar h2 {
     color: hsl(35, 77%, 62%);
     font-size: clamp(1.875rem, 1.7233rem + 0.6472vw, 2.5rem);
     font-weight: 700;
}
 .sidebar-container {
     flex-direction: column;
     padding: 1.875rem 0;
     border-bottom: solid 1px var(--DarkGrayishBlue);
}
 .sidebar-container:last-child {
     padding-bottom: 0;
     border-bottom: none;
}
 .sidebar-container-header {
     color: var(--Offwhite);
     font-weight: 700;
     font-size: 1.25rem;
     margin-bottom: .9375rem;
}
 .sidebar-container-description {
     color: var(--Grayishblue);
     line-height: 1.5625rem;
     font-size: 15px;
}
.__bottom_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    gap: var(--gap);
    grid-area: __bottom_boxes;
    margin-top: var(--gap);
  }
.__box {
     max-height: 7.8125rem;
}
.box_image {
     min-width: 6.25rem;
     min-height: 7.8125rem;
     margin-right: 1.25rem;
}
 .box_container {
     flex-direction: column;
}
 .box_number {
     font-size: 30px;
     font-weight: 700;
     color: var(--Grayishblue);
}
 .box_header {
     font-size: clamp(1.15rem, 1.1148rem + 0.1502vw, 1.25rem);
     font-weight: 800;
     color: var(--VeryDarkBlue);
     margin: 1rem 0;
}
 .box_description {
     color: var(--DarkGrayishBlue);
     line-height: 1.5625rem;
}
 #box_first_image {
     background-image: url(https://github.com/AMADEUSZRB/frontend-mentor-NewsHomepage/blob/main/assets/images/image-retro-pcs.jpg?raw=true);
}
 #box_second_image {
     background-image: url(https://github.com/AMADEUSZRB/frontend-mentor-NewsHomepage/blob/main/assets/images/image-top-laptops.jpg?raw=true);
}
 #box_third_image {
     background-image: url(https://github.com/AMADEUSZRB/frontend-mentor-NewsHomepage/blob/main/assets/images/image-gaming-growth.jpg?raw=true);
}

/* Actives */
 .navbar-link:hover, .box_header:hover, .sidebar-container-header:hover, .main-image-description > button:hover {
     cursor: pointer;
}
 .navbar-link:hover, .box_header:hover {
     color: var(--SoftRed);
}
 .sidebar-container-header:hover {
     color: var(--SoftOrange);
}
 .main-image-description > button:hover {
     color: white;
     background-color: black;
}

/* Breakpoints*/

/* Mobile devices */
@media (max-width: 900px){
       body {
           padding: var(--gap) 15px;
      }
      .navbar-list, .list, .__bottom_boxes, .sidebar-container, .main-wrapper {
          display: flex;
          flex-direction: column;
      }
       #menu-toggle, #menu-close {
           display: block;
           background-color: transparent;
           border: none;
           cursor: pointer;
      }
       #menu-close {
           align-self: flex-end;
           margin-bottom: 5rem;
      }
      .list {
          gap: var(--gap);
      }
       .navbar {
           margin-bottom: var(--gap);
      }
       .navbar-list {
           padding: 1.5625rem 1.25rem;
           justify-content: flex-start;
           position: fixed;
           background-color: white;
           height: 100vh;
           width: 215px;
           top: 0;
           right: -100vh;
           transition: all 0.5s;
           z-index: 1000;
      }
       .navbar-link {
           font-size: 1.125rem;
           color: black;
      }
       .main-wrapper {
          gap: 0;
      }
       .main-image {
           background-image: url(https://github.com/AMADEUSZRB/frontend-mentor-NewsHomepage/blob/main/assets/images/image-web-3-mobile.jpg?raw=true);
      }
       #logo {
           transform: scale(0.78);
      }
       .main-image-header h1 {
          margin: 1.25rem 0;
      }
      .main-image-description {
          margin-bottom: calc(var(--gap) * 2);
      }
       .__box {
           margin-bottom: 1.75rem;
      }
      .sidebar {
          padding: 1.5625rem 1.25rem;
          margin-bottom: var(--gap);
     }
      .sidebar-container {
          padding: 1.875rem 0;
          border-bottom: solid 1px var(--DarkGrayishBlue);
     }
     .__bottom_boxes {
          gap: 0;
     }
}
/* Desktops, large screens */
@media (min-width: 901px) and (max-width: 1200px){
     body {
          padding: 2.5rem 3.75rem;
     }
}